<p> Dear <%= @user.username %>  :</p>
<br>
<p> <%= @current_user.username %>, has sent you an invitation to event <%= @event.name %></p>
<p>To accept this invitation, please follow this link <%= link_to "this link",  'https://qrme-bhern104.c9users.io/events/accept_event/'+ @event.id.to_s %> </p>