<p> Dear <%= @user.username %>  :</p>

<p> <%= @current_user.username %>, has sent you an invitation to event: '<%= @event.name %>'</p>
<p>To accept this invitation, please follow <%= link_to "this link",  accept_event_invite_url(@event.id) %> </p>