<p><%= @user.username %> posted a new comment on '<%= @forum.title %>' in event '<%= @event.name %>'</p>
<p>Visit <%= link_to "this link", forum_thread_url(@forum) %> to see the comments for this forum</p>
