<div class="jumbotron main-header">
  <%= render "shared/main_nav_bar" %>
  <h1 class="main-subtitle">QRme makes planning events easier</h1>
  <h3 class="secondary-subtitle">QRme offers a simple and intuitive way of planning events,
    inviting friends, and staying in touch with invitees</h3>
  <%= link_to "Sign Up", new_user_registration_path,
    class: "btn btn-default active btn-lg sign-up-btn" %>
</div>
