<% @poll.poll_answers.each do |ft| %>
  <div class="poll-container">
    <span class="name">
      <%= link_to ft.title, poll_answer_path(ft) %>
    </span>
    <span class="actions">
      <%= link_to poll_answer_path(ft), method: :delete,
      data: { confirm: "Are you sure?",
      message: "The poll answer's information including votes will be lost and cannot be recovered.",
      }, remote: true, title: "Delete" do %>
        <%= fa_icon "trash" %>
      <% end %>
    </span>
  </div>
<% end %>