<div class="header">
  <h2>Invite friends to the system: </h2>
</div>
<br>

<%= form_tag invite_app_action_event_path(:enter_email), remote: true do %>

<div class: "form-group">
    <table align="center">
    <thead>
      <tr>
        <th> <%= label_tag :enter_email %> </th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
            <tr>
              <td style="width:72%"><%= email_field_tag :enter_email, "", class: "form-control" %></td>  
              <td> <button title= "Invite more ", id= "Invite_app_button", class="btn btn-primary", type= "submit"><%= fa_icon "user-plus" %> Submit </button>
                   </td>
            </tr>
        </tbody>
      </table>
    </div>
    <% end %>
</div>
  <br>
  
 <div class= "actions">
      <button id= "Button_done", class="btn btn-primary"> Done </button>
  </div>