<div class="header">
  <h2>Invitations QR Code</h2>
</div>
 <%if @event.open %>
<div id="toprint">
   
    <div class="clearfix text-center">
        
        <div class="form-group">
            <h3>Event:  <%= @event.name %></h3>
        </div>
        
    </div>
  
   
    <div class="clearfix" style="padding:5px">
            <div class="thumbnail">
                <img src=" <%=@qrimg.to_data_url%>" />
            </div>
        
        
    </div>
    <h4>Please scan qrcode using our app to invite yourself to this event</h4>
    
     </div>
     
        <div class="actions">
            <button onclick="PrintElem('toprint')"  class="btn btn-success">Print Code</button>
       </div>
       
        <%else%>
        <div class="clearfix text-center">
          <h3 class="alert-danger">  This is a close event. An invitations qr code cannot be provided. </h3>
        </div>
         <%end%>
   
   
<script>
    function PrintElem(elem)
{
    var mywindow = window.open('', 'PRINT');
    
    mywindow.document.write('<html><head><title>' + document.title  + '</title>');
    mywindow.document.write("</head><body><div style='width:100%; text-align:center'");
    mywindow.document.write('<h1>' + document.title  + '</h1>');
    mywindow.document.write(document.getElementById(elem).innerHTML);
    mywindow.document.write('</div></body></html>');

    mywindow.document.close(); // necessary for IE >= 10
    mywindow.focus(); // necessary for IE >= 10*/

setTimeout(function() {
    mywindow.print();
    mywindow.close();
}, 250);
    

    return true;
}
</script>