 <h2 align= "center"> Uninvite User </h2>
<div class="main-table-container">
    <%= render 'shared/uninvite_users_list'%>
</div>
    
 <div class= "actions">
      <button id= "Button_done", class="btn btn-primary active btn-lg"> Done</button>
  </div>