<div class="header">
  <h2>Vote</h2>
</div>

 <div class="col-sm-14">
        <div class="panel panel-default polls-card even-card">
         
          <div class="panel-body">
            <%= render 'shared/poll_answers_vote_list' %>
          </div>
        </div>
      </div>