body.polls.show {
  .content {
    padding-top: 150px;
  }
}

.poll-info {
  background-image: linear-gradient(45deg, $primary, $seconday);
  color: $white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px 0;
  text-align: center;
  height: 135px;
  h2 { margin-bottom: 20px; }
  h5 { margin: 0; }
}

.poll-container {
      height: 25px;
      line-height: 25px;
      .actions {
        float: right;
        i:first-child { margin-right: 5px; }
      }
      
}