@import "colors";
@import url('https://fonts.googleapis.com/css?family=Dosis:200,400,500,700,800');

body {
  background-color: #fff;
  color: $text;
  font-family: 'Dosis', sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

.vex.vex-theme-plain .vex-content {
  font-family: 'Dosis', sans-serif;
}

p, ol, ul, td {
  font-family: 'Dosis', sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: $text;
  &:hover { color: $text; }
}

th {
  padding-bottom: 5px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

label {
  display: block;
}
