<div class="header">
  <h2>Mark Event Attendance</h2>
</div>

<div class="main-table-container">
  <table class="main-table">
    <thead>
      <tr>
        <th>UseName</th>
        <th>Attended?</th>
        
      </tr>
    </thead>
    <tbody>
      <% @event.invitations.each do |ei| %>
        <tr>
          <td><%= ei.user.username %></td>
          <td>
           
            <input type="checkbox" name="attended" value="attended" />
            
          </td>
        
            <% end %>
          
        </tr>
      
    </tbody>
  </table>
 
</div>
<div class="container">
  
  <div  >
  <button class="btn-lg btn-info" onclick="alert('Attendance successfully updated !');" >Done</button>
</div>
</div>
 


